.sub-menu-links {
  font-size: 20px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}
li:hover {
  color: black;
  opacity: 0.5;
}
body {
  background-image: url(img/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
