*{
  padding: 0;
  margin: 10px;
  box-sizing: border-box;
  
}
body {
   
    font-family: "Dosis", sans-serif;
    background-image:url(img/background.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
  background-attachment: fixed;
  
  }
 

  nav ul {
    list-style-type: none;
    display: inline-flex;
  }
  nav a {
    text-decoration: none;
  }
  
  nav li {
    display: inline-block;
  }
  nav a:link,
  nav a:visited {
    width: 150px;
    display: block;
    text-align: center;
    padding: 0px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(55, 157, 220);
  }
  nav a:hover {
    background-color: rgb(55, 157, 220);
    color: white;
    border-radius: 10px;
  }
  .meniu {
    position:fixed;
    top: 10px;
    right: 10px;
    
  }
  .cover {
    margin-top: 50px;
  }
  .cover:hover {
    opacity: 0.7;
  }
  h1 {
    font-family: "Sacramento", cursive;
    font-size: 40px;
    text-align: center;

  }
  .title{
    position: absolute;
    top:290px;
  }
  .descriere {
   width: 50%;
    position: absolute;
    top:350px;
  }
  .aside {
    background-color: rgb(55, 157, 220);
    width: 500px;
    float: right;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: "Dancing Script", cursive;
    padding: 20px;
    position: absolute;
    top: 550px;
    right: 50px;
    border-radius: 30px;
  }

  .button {
    position: absolute;
    left: 500px;
    top: 500px;
    width: 120px;
    height: 40px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
  .active,.button:hover{
 background-color: rgb(55, 157, 220);
 color: white;
  }
  input[type="text"],
  select,
  textarea {
   width:100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  
  }
  
  input[type="submit"] {
    background-color: red
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .container {
    border-radius: 5px;
   
  }
  p{
      text-align: center;
    
  }
  .links{
      display:flex;
      flex-direction: row;
      justify-content:space-between;
      font-size:17px;
      color: black;
    
      
  }
  .links:hover{
  opacity: 0.7;}

  a{
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  

  